{% extends 'base.html' %} {% block content %}

<div class="container pt-3">
  <h3>My bookings</h3>
  <ul class="list-unstyled pt-3">
    {% for booking in object_list %}

    <li>
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{booking.viewing}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            Customer: {{booking.customer}} <br/> Ticket qty: {{booking.qty}}
          </h6>
          <a href="{% url 'update_booking' booking.pk %}" class="card-link"
            >Edit</a
          >
          <a href="{% url 'delete_booking' booking.pk %}" class="card-link"
            >Delete</a
          >
        </div>
      </div>
    </li>

    {% endfor %}
  </ul>
</div>

{% endblock %}
